@model List<BaseList>
@{
    ViewData["Title"] = "GetRecap";

}

<h1>GetRecap</h1>

<div class="row">
    <div class="col-sm-12">
        <table id="tbData" class="table">
            <thead>
                <tr @*class="sticky-top"*@>
                    <th>UHML</th>
                    <th>TOTAL</th>
                    <th>UI</th>
                    <th>TOTAL</th>
                    <th>Strength</th>
                    <th>TOTAL</th>
                    <th>SFI</th>
                    <th>TOTAL</th>
                    <th>Mic</th>
                    <th>TOTAL</th>
                    <th>ColorGrade</th>
                    <th>TOTAL</th>
                    <th>TrashID</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="bg-light">@item.T1</td>
                        <td class="bg-light">@item.D1</td>
                        <td>@item.T2</td>
                        <td>@item.D2</td>
                        <td class="bg-light">@item.T3</td>
                        <td class="bg-light">@item.D3</td>
                        <td>@item.T4</td>
                        <td>@item.D4</td>
                        <td class="bg-light">@item.T5</td>
                        <td class="bg-light">@item.D5</td>
                        <td>@item.T6</td>
                        <td>@item.D6</td>
                        <td class="bg-light">@item.T7</td>
                        <td class="bg-light">@item.D7</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts{
    <script>
        const tableBody = document.getElementById("tableBody")
        console.log(tableBody)      
    </script>
}

